:root {
    --about-text-color: #0080FF;  
    --works-text-color:#D700FF;
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: white;
    background: white;
}
ul{
  
    list-style-type: none;
    margin-left: 2em;
    font-weight: 900;
    color: white;
    font-size: 1rem;
    padding: 0;
    overflow: hidden;

}

#welcome{
    font-weight: 700;
    font-size: 2rem;
    color: white;
    position: relative;
    top: 25%;
    text-align: center;
}
.profilepic{
    height: 35vh;
    width: 35vh;
    
    margin: 0 auto;
    
}
.logo{
    margin: 0 auto;
}
img{
    height: 100%;
    width: 100%;
}
/* .slidedown{
    position: inherit;
  
} */
lottie-player{
    height: 100px;
    position: absolute;
    width: 100px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
    transition: 1s;
}
lottie-player.done{
    animation: fade 1s forwards;
}
.logo_svg{
    fill:white;
}
.loading{
    position: fixed;
    width: 100%;
    height: 100vh;
   
    background: black;
    z-index: 10;
    
    transition: 1s;
}
.loading.done{
    animation: fade 1s forwards;
}
@keyframes fade{
    50%{opacity: 1}
    100%{opacity: 0;
    display: none;z-index: -1;}
}
@keyframes moveup{
    from{opacity: 0}
    to{opacity: 1;
    transform: translateY(0)}
}
#header{

    padding: 9rem 0rem 0rem 0rem;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to bottom,#6CAFFB,#807CF8);
    /* background: #F87C7C; */
    display: inline-table;
}.logo{
    margin:1.5rem 0rem 0rem 6rem;
    font-weight: 700;
    color: white;
    width: auto;
    height: 40px;
    cursor: pointer;
   
 }

.divider{
    margin:2rem 0rem 0rem 4rem;
    width: 2px;
    height: 25px;
    background: white;
    opacity: 0;

}
#label{
    font-weight: 300;
    font-size:1rem;
    color: white;
    position: relative;
    top: 25%;
    text-align: center;
    margin-bottom: 1em;
}
a{
    text-emphasis: none;
    text-decoration: none;
   
}
li{
    float: left;
    padding: 1em 1em;
    cursor: pointer;
}
nav{
    display: flex;
    top: 0;
    padding: 1em 1em 0em 1em;
    transition: 1s;
    position: fixed;
    height: 6rem;
    width: 150%;
    /* background-image: linear-gradient(to bottom,#F87C7C, rgba(255,0,0,0)); */
}

.content{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    text-align: center;
    background: white;
}
.content .header{
    font-weight: 700;
    font-size: 1.5rem;
    
    color: #707070;
}
.body{
    
    width: 100%;
    display: flex;
    margin-top: 2rem;
    transition: 1s;
}
.bubble{
    margin: 1rem;
    border-radius: 10px;
    width: 100%;
    height:20rem;
    box-shadow: 1px 0px 10px grey;
    cursor: pointer;
}
.bubble-image{
    height: auto;
    width: 90%;
    margin:1rem 1rem 1rem 1rem;
    box-shadow: 0px 0px 0px;
    transition: 1s;
}

.bubble-image>img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.bubble-header{
    text-align: left;
    margin: 1rem 1rem 1rem 1rem;
    font-weight: 700;
    color: #707070;
    overflow: hidden;
}
.bubble-description{
    text-align: left;
    margin: 1rem 1rem 1rem 1rem;
    font-weight: 300;
    color: #707070;
}
section{
    width: 100%;
    height: 100vh; 
}
#about{
    width: 100%;
    height: 85vh;
    background: white;
    
    /* display: none; */
}
.about-body{
    margin: 20vh 25vw 0rem 25vw;
    color: black;
    transform: translateX(-1000px);
    display: grid;
    opacity: 0;
    grid-template-columns: minmax(200px,1fr) 2fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "pic header"
    "text text";
    /* height: 100%; */
}
.about-header{
    margin: 0px 0px 0px 20px;
    vertical-align: 50%;
    grid-area: header
}
.about-pic{
    grid-area: pic
}
.about-text{
    color: #656565;
    text-align: center;
    grid-area: text;
    transform: translateY(300px);
    opacity: 0;
    overflow: hidden;
}
.about-text.floatup{
    animation: moveup 2s forwards;
}
h2{
    font-family: 'Lato', 'sans-serif';
    font-size: 50px;
    letter-spacing:0px;
    font-weight: 900;

}
h2,p{
    margin:0
}
svg{
    height: 100%;
    width: 100%;
}
/* work section */

.work-body{
    color: black;
    margin: 8em;
    width: 100%;
    display: grid;
    grid-template: "container graph";
}
#my-works-container{
    width: 300px;
    height: auto;
    display: grid;
    grid-template: minmax(130px,50%) minmax(100px,50%) / 60% auto;
    grid-area: container;
}
#brief-case{
    position: relative;
    bottom: -63px;
    left: -50px;
    height: 50px;
    width: auto;
}
#my-works-graph-container{
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template: 40vh 40vh /1fr 1fr;
    grid-area: graph
}
.chart{
    position: relative;
    width: 58%;
    height: max-content;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}
.chart canvas{
    position: relative;
    /* top: -45px; */
    /* left: -39px; */
    /* margin: 0 auto; */
    height: 100%;
    width: 100%;
}